*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
section{
    height: 100vh;
    /* background-image: url("../../public/Images/model-3.jpg"); */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
section .anchor img{
    width: 40px;
}
section .anchor{
    padding-bottom: 3rem;
    text-align: center;
}
section .model h1{
    font-size: 3rem;
}
section .model{
    padding-top: 6rem;
    text-align: center;
}
section .anchor a{
    text-decoration: none;
    display: inline-block;
    border-radius: 2rem;
    width: 250px;
    padding: 12px 32px;
    margin:0 0.25rem 2rem 0;
    text-align: center;
}
section .anchor .left{
    background-color: #000;
    color: #fff;
}
section .anchor .right{
    background-color: #fff;
    color: #000;
}
.menubar{
    position: fixed;
    width: 250px;
    height: 100vh !important;
    right: -250px;
    background-color: #fff;
    padding: 1rem;
    flex-direction: column;
    display: flex;
    z-index: 99;
    list-style: none;
    transition: all 0.45s ease-in-out;
}
.menubar a{
    text-decoration: none;
    display: block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    color: #000;
    font-weight: 900;
}